<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="dist.css" />
    <title>Template 1</title>
  </head>
  <body class="p-4">
    <h1 class="text-blue-700 text-4xl">{{name}}</h1>
    <p><span class="font-bold">Address:</span> {{adress}}</p>
    <p><span class="font-bold">Phone:</span> {{phone}}</p>
    <p><span class="font-bold">Email:</span> {{email}}</p>

    <section class="my-4">{{profileDescription}}</section>

    <h2 class="font-bold text-blue-700 text-2xl">Experience</h2>
    <div class="flex flex-col gap-4">
      <div class="flex flex-row gap-10">
        <p><span>{{to}}</span>-<span>{{from}}</span></p>
        <div>
          <h3 class="text-xl">{{position}}</h3>
          <p class="italic">{{location}}</p>
          <h4 class="font-semibold mt-4">{{highlight}}</h4>
          <ul>
            <li>{{jobPoint}}</li>
            <li>{{jobPoint}}</li>
            <li>{{jobPoint}}</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-row gap-10">
        <p><span>{{to}}</span>-<span>{{from}}</span></p>
        <div>
          <h3 class="text-xl">{{position}}</h3>
          <p class="italic">{{location}}</p>
          <h4 class="font-semibold mt-4">{{highlight}}</h4>
          <ul>
            <li>{{jobPoint}}</li>
            <li>{{jobPoint}}</li>
            <li>{{jobPoint}}</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-row gap-10">
        <p><span>{{to}}</span>-<span>{{from}}</span></p>
        <div>
          <h3 class="text-xl">{{position}}</h3>
          <p class="italic">{{location}}</p>
          <h4 class="font-semibold mt-4">{{highlight}}</h4>
          <ul>
            <li>{{jobPoint}}</li>
            <li>{{jobPoint}}</li>
            <li>{{jobPoint}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h2 class="font-bold text-blue-700 text-2xl">Education</h2>
      <div class="flex flex-row gap-10">
        <p><span>{{to}}</span>-<span>{{from}}</span></p>
        <div>
          <h3 class="text-xl">{{name}}</h3>
          <p class="italic">{{speciality}}</p>
        </div>
      </div>
    </div>
    <div>
      <h2 class="font-bold text-blue-700 text-2xl">Skills</h2>
      <ul class="flex flex-col ml-[133px]">
        <li>{{skill}}</li>
        <li>{{skill}}</li>
        <li>{{skill}}</li>
        <li>{{skill}}</li>
        <li>{{skill}}</li>
      </ul>
    </div>
  </body>
</html>
